* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

table {
    border-spacing: 0px 12px;
}

#container {
    max-width: 1000px;
    min-height: 700px;
    margin: 0px auto;
    border: 1px solid #000;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    background-image: url(../IMAGE/baner1.png);
}

.header .title {
    margin: 0px auto;
    margin-top: 38px;
}

.header .title h1 {
    font-size: 48px;
    color: white;
    text-shadow: 3px 3px 3px yellow;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #008001;
}

.nav .nav-main {
    flex-basis: 60%;
    display: flex;
    position: relative;
}

.nav .subnav,
.nav-main > li {
    background-color: #006401;
}

.nav-main > li {
    border-radius: 15%;
    list-style-type: none;
    margin-right: 8px;
}

.nav-main > li > a {
    color: white;
}

.nav-main li a {
    text-decoration: none;
    line-height: 56px;
    padding: 0px 34px;
    border-radius: 15%;
    display: block;
}

.nav-main li:hover .subnav {
    display: block;
}

.nav-main li:hover > a,
.nav-main .subnav li:hover a {
    display: block;
    background-color: yellow;
    color: red;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-main .subnav {
    position: absolute;
    top: 100%;
    background-color: #D3F7F7;
    display: none;
}

.nav-main .subnav > li {
    list-style-type: none;
    background-color: #006401;
    border-radius: 15%;
}

.nav-main .subnav a {
    text-align: center;
    padding: 0px 12px;
    color: white;
}

.nav form {
    width: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
}

.nav form input[type="text"] {
    height: 24px;
    width: 50%;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.nav form input {
    margin-right: 16px;
}

.nav form input[type="submit"] {
    width: 20%;
    border: 1px solid #000;
    border-radius: 5px;
}


.content {
    min-height: 480px;
    display: flex;
}

.section {
    flex-basis: 60%;
    background-color: #D3F7F7;
}

.section h2 {
    text-shadow: 0px 0px 5px red;
    margin: 12px 12px;
}

.section .content-main {
    width: 85%;
    padding: 5px;
    border: 1px solid #000;
    margin: 0px auto;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    line-height: 24px;
    box-shadow: 8px 8px 8px 8px #888888;
}

.aside {
    flex-basis: 40%;
    background-image: url(../IMAGE/bgright.png);
    position: relative;
}

.sub-content {
    margin-top: 24px;
}

.content-img ul {
    display: flex;
    align-items: center;
} 

.content-img ul li {
    list-style-type: none;
}

.content-img img {
    height: 120px;
    margin-right: 16px;
}

.aside form {
    width: 80%;
    background-color: white;
    padding: 12px;
    position: absolute;
    left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    border: 0px;
    border-radius: 12px;
}

.aside form h3 {
    font-size: 24px;
    text-shadow: 0px 0px 5px red;
    margin: 12px 0px;
}

.aside input {
    width: 100%;
    height: 24px;
}

.aside input[name="number"] {
    width: 32%;
}

.aside form tr td:first-child {
    width: 30%;
}

.aside form input[type="submit"],
.aside form input[type="reset"] {
    width: 40%;
    margin-top: 24px;
    height: 24px;
    color: white;
}

.aside .input,
.asdie .select {
    outline: none;
    border: 1px solid #000;
    border-radius: 8px;
}

.aside .select {
    height: 24px;
}

.aside form input[type="submit"] {
    background-color: blue;
}

.aside form input[type="reset"] {
    background-color: red;
}

.aside form tr .button{
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006401;
    height: 100px;
}

.footer div {
    margin-left: 58px;   
}

.footer p {
    font-style: italic;
    color: white;
    text-align: justify;
}


